.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.bot-rect {
  z-index: 0;
}
.top-rect {
  position: absolute;
  z-index: 1;
}

.profile-box .typewriter-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 10s steps(10) infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
